<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.wolneyhqf.aulas.appcbr">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NavDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BroadcastActivity" />
        <activity
            android:name=".activity.PreferencesActivity"
            android:theme="@style/AppTheme.Material" />

        <receiver android:name=".broadcast.AppBrodcastReceiver">
            <intent-filter>
                <action android:name="receiver_appcbr" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.NotificationsActivity" />
        <activity android:name=".activity.MensagemActivity" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.ServiceActivity" />

        <service android:name=".service.AppService" />
        <service android:name=".service.AppIntentService" />

        <activity
            android:name=".activity.FaleConoscoActivity"
            android:label="Fale Conosco"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LogActivity"
            android:label="Logs do Aplicativo"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity android:name=".activity.ProfileActivity"
            android:label="Perfil"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>